body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ascii-art, .content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: 700;
    text-align: center;
    background: linear-gradient(to left, #e0e0e0, #686868 10%, #e0e0e0 20%);
    background-size: 200%, 200%;
    margin-right: 45px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s infinite linear;
}

.ascii-art {
    font-size: 14.5px;
    white-space: pre;
}

.content {
    font-size: 14px;
    line-height: 11px;
    letter-spacing: 2px;
    padding: 10px;
}

.smalltext {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Consolas", monospace;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 0.5rem;
}

.fade-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Consolas", "Courier New", monospace;
    font-size: 1rem;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 1s ease;
}

.main-content {
    opacity: 0;
    transition: opacity 1s ease;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
@keyframes shine {
    0% {
        background-position: 200% 200%;
    }
    100% {
        background-position: 0;
    }
}

